# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use.
- Commonly used libraries
- Data Science tools
- examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Scala
5. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. SciPy

Data Science Tools
|-----|
Apache Spark
Tensor Flow
Tableau

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ray Houston